<h3>Skills</h3>
<div class="row">
    <div class="col-md-6">
        <ul class="no-bullets">
            <li *ngFor="let skill of skillsList">
                <span class="ability-title">{{ skill['skillName'] }}</span>
                <span class="ability-score">
                <app-skill-progress [skillProgress]="skill['proficiency']"></app-skill-progress>
                </span>
            </li>
        </ul>
    </div>
</div>

<div class="text-center project-referal">
    <p>See my other coding project on GitHub.</p>
    <a [href]="userInfo['githubAccount']" class="btn btn-primary" target="_blank">See project on Github</a>
</div>